*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $ff-body;
  line-height: 1.6;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.6;
  font-size: $font-size-regular;
  color: $primary;
  background-color: $white;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}
