// Base Colors
$white: var(--clr-white);
$green: var(--clr-green);
$green-light: var(--clr-green-light);
$primary: var(--clr-primary);

$orange: var(--clr-orange);
$teal: var(--clr-teal);
$background-extra-light: var(--clr-brown-500);
$background-light: var(--clr-brown-600);
