@import "./variables.scss";

:export {
  @each $key, $value in $sizes-map {
    size#{$key}: $value;
  }

  @each $key, $value in $breakpoints {
    #{$key}: #{$value};
  }

  @each $key, $value in $colors {
    #{$key}: #{$value};
  }

  ffHeading: $ff-heading;
}
