@mixin generate-font-sizes-utilities($font-sizes-map) {
  @each $name, $value in $font-sizes-map {
    .#{$name} {
      font-size: #{$value};
    }
  }
}

@mixin generate-color-utilities($colors-map) {
  @each $name, $value in $colors-map {
    @if str-index($name, "text-") == 1 {
      .#{$name} {
        color: #{$value};
      }
    } @else if str-index($name, "bg-") == 1 {
      .#{$name} {
        background-color: #{$value};
      }
    }
  }
}
