:root {
  // Colors
  --clr-white: hsl(0, 0%, 100%);
  --clr-green: hsl(143, 38%, 37%);
  --clr-primary: hsl(10, 5%, 25%);

  --clr-orange: hsl(28, 43%, 28%);
  --clr-teal: hsl(186, 42%, 25%);

  // Fonts
  --fs-400: 1rem;
}
