@import "./variables.scss";
@import "./mixins.scss";

@include generate-color-utilities($colors);
@include generate-font-sizes-utilities($font-sizes);

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
