@import "./variables.scss";
@import "./mixins.scss";

@include generate-color-utilities($colors);
@include generate-font-sizes-utilities($font-sizes);

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}
