$colors: (
  text-primary: $primary,
  text-green: $green,
  text-orange: $orange,
  text-teal: $teal,

  bg-extra-light: $background-extra-light,
  bg-light: $background-light,
);

$font-sizes: (
  fs-regular: $font-size-regular,
  fs-lg: $font-size-lg,
);
